{% extends 'mysite/layout.html' %}
{% load static %}

{% block footer %}
<!--==================== FOOTER ====================-->
<footer class="footer">
    <div class="footer__bg">
        <div class="footer__container container grid">
            <div>
                <h1 class="footer__title">BIPLOV</h1>
                <span class="footer__subtitle">Frontend Developer</span>
            </div>

            <ul class="footer__links">
                <li>
                    <a href="#services" class="footer__link">Services</a>
                </li>

                <li>
                    <a href="#portfolio" class="footer__link">Portfolio</a>
                </li>

                <li>
                    <a href="#contact" class="footer__link">Contact Me</a>
                </li>
            </ul>

            <div class="footer__socials">
                <a href="" target="_blank" class="footer__social" id="myLinkedin">
                    <i class="uil uil-linkedin-alt"></i>
                </a>

                <a href="" target="_blank" class="footer__social" id="myFacebook">
                    <i class="uil uil-facebook-f"></i>
                </a>

                <a href="" target="_blank" class="footer__social" id="myInstagram">
                    <i class="uil uil-instagram"></i>
                </a>

                <a href="" target="_blank" class="footer__social" id="myTwitter">
                    <i class="uil uil-twitter-alt"></i>
                </a>
            </div>
        </div>

        <p class="footer__copy">&#169; BJ. All rights reserved</p>
    </div>
    
</footer>
{% endblock footer %}